<h1>Create a Character Equipment</h1>

<% form_for(:character_equipment_data, @equipment, :url => {:action => 'create'}) do |f| %>
<p>
Equipment Name:<br />
  <%= f.text_field :equipment %>
</p>
    <p>
Cost: <br />
      <%= f.text_field :cost %>
</p>
    <p>
Weight:<br />
      <%= f.text_field :weight %>
</p>
  <p>
    <%= f.submit "Create" %>
  </p>


<% end %>