<% mecha = local_assigns[:mecha] %>

<table id="mecha-sensors-table" class="mecha-table">
  <thead class="shaded">
    <tr>
        <th colspan="6">
            Sensors
        </th>
    </tr>
    <tr>
      <th>Sensor</th>
      <th>Loc</th>
      <th>Rng</th>
      <th>Kills</th>
      <th>Cp</th>
      <th>Sp</th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:mecha_sensors].each do |sensor| %>
        <%= render :partial => 'mecha_sensors/mecha_sensor_line', :locals => {:mecha_sensor => sensor} %>
    <% end %>
    <tr id="mecha_sensors-add">
        <td><%= image_tag("add.png", :alt=>"Add Sensor", :class=>"icon add") %></td>
    </tr>
  </tbody>
</table>