<% mecha = local_assigns[:mecha] %>

<table id="mecha-servos-table" class="mecha-table">
  <thead class="shaded">
    <tr>
        <th colspan="8">
            Servos & Armor
        </th>
    </tr>
    <tr>
      <th>SP</th>
      <th>Kills</th>
      <th>Servos</th>
      <th>Level</th>
      <th>Space</th>
      <th>Cost</th>
      <th>Armor</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:mecha_servos].each do |servo| %>
        <%= render :partial => 'mecha_servos/mecha_servo_line', :locals => {:mecha_servo => servo} %>
    <% end %>
    <tr id="mecha_servos-add">
        <td><%= image_tag("add.png", :alt=>"Add Servo", :class=>"icon add") %></td>
    </tr>
  </tbody>
</table>