<% mecha = local_assigns[:mecha] %>

<table id="mecha-multipliers-table" class="mecha-table">
  <thead class="shaded">
    <tr>
        <th colspan="4">
            Cost Multipliers
        </th>
    </tr>
    <tr>
      <th>Multiplier System</th>
      <th>Qty</th>
      <th>Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:mecha_multipliers].each do |multiplier| %>
        <%= render :partial => 'mecha_multipliers/mecha_multiplier_line', :locals => {:mecha_multiplier => multiplier} %>
    <% end %>
    <tr id="mecha_multipliers-add">
        <td><%= image_tag("add.png", :alt=>"Add Multiplier", :class=>"icon add") %></td>
    </tr>
  </tbody>
</table>