<% mecha = local_assigns[:mecha] %>

<table id="mecha-servos-table" class="mecha-table">
  <thead class="shaded">
    <tr>
        <th colspan="8">
            Servos & Armor
        </th>
    </tr>
    <tr>
      <th>SP</th>
      <th>Kills</th>
      <th>Servos</th>
      <th>Level</th>
      <th>Space</th>
      <th>Cost</th>
      <th>Armor</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
  
  </tbody>
</table>