<%= javascript_include_tag 'lib/mechas/show' %>

<div class="hidden" id="mecha_id"><%= @mecha.id %></div>
<div id="mecha-left">
  <div id="mecha-stats" class="mecha-section">
    
  </div>
  <div class="mecha-section">
    <div class="mecha-subleft">
     <div id="mecha-maneuver_pool" class="mecha-section">
       <div class="side-label label shaded">
         Maneuver Pool
       </div>
       <div>
         <%= @mecha_pilot.mecha_piloting >= 5 ? (@mecha_pilot.mecha_piloting - 5) : 0 %>
       </div>
     </div>
     <div id="mecha-combat_skills" class="mecha-section">
       
     </div>
    </div>
    <div class="mecha-subright">
     <div id="mecha-multipliers" class="mecha-section">
       
     </div>
    </div>
  </div>
  <div id="mecha-servos" class="mecha-section">
    
  </div>
  <div class="mecha-section">
    <div class="mecha-subleft">
      <div id="mecha-movement_systems" class="mecha-section">
        
      </div>
    </div>
    <div class="mecha-subright">
      <div id="mecha-sensors" class="mecha-section">
        
      </div>
    </div>
  </div>
</div>
<div id="mecha-right">
  <div id="portrait" class="mecha-section">
    
  </div>
  <div id="mecha-profile" class="mecha-section">
    
  </div>
  <div id="mecha-subassemblies" class="mecha-section">
    
  </div>
  <div id="mecha-shields" class="mecha-section">
    
  </div>
</div>
<div id="mecha-armaments" class="mecha-section">
  Armaments
</div>