body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
}
th {
  font-size: 13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

table {
    border-collapse: collapse;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#mecha-sheet {
  width: 900px;
}

#character-left, #mecha-right {
    float: left;
    width: 300px;
}

#character-right, #mecha-left {
    float: left;
    width: 600px;
}

#portrait {
    width: 80%;
    height: 300px;
    border: 1px solid black;
}

.character-section, .mecha-section {
    margin: 10px 5px 10px 5px;
    clear: both;
    border: 1px solid black;
}

.mecha-subleft, .mecha-subright {
    float: left;
    width: 50%;
}

.stat-label, .label {
    font-weight: bold;
}

.label {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.stat-label {
    font-size: 1.1em;
}

.side-label{
    float: left;
    clear: left;
    margin-right: 10px;
}

.cell-label, .cell-value {
    padding-right: 10px;
}
.cell-label {
    font-weight: bold;
}

.mecha-table {
    width: 100%;
}

.mecha-table td {
    text-align: center;
}
.shaded {
    background-color:#eeeeee;
}

.top-border {
    border-top: 1px solid black;
}

.hidden {
    display: none;
}

.icon {
    width: 15px;
}
