<table>
  <thead class="shaded">
    <tr>
      <th>Weapon</th>
      <th>WA</th>
      <th>Range</th>
      <th>Damage</th>
      <th>Shots</th>
      <th>BV</th>
      <th>Conc</th>
      <th>Weight</th>
      <th>Qty</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:character_weapons].each do |weapon| %>
        <%= render :partial => '/character_weapons/character_weapon_line', :locals => {:character_weapon => weapon} %>
    <% end %>
  <tr id="character_weapons-add">
     <td><%= image_tag("add.png", :alt=>"Add Weapon", :class=>"icon add") %></td>
  </tr>
  </tbody>
</table>