<table>
  <thead class="shaded">
    <tr>
      <th>Skill</th>
      <th>Level</th>
      <th>IP</th>
      <th>Attr</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:character_skills].each do |skill| %>
        <%= render :partial => '/character_skills/character_skill_line', :locals => {:character_skill => skill} %>
    <% end %>
  <tr id="character_skills-add">
     <td><%= image_tag("add.png", :alt=>"Add Skill", :class=>"icon add") %></td>
  </tr>
  </tbody>
</table>