<table>
  <thead class="shaded">
    <tr>
      <th>Armor</th>
      <th>Location</th>
      <th>SP</th>
      <th>Cost</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:character_armors].each do |armor| %>
        <%= render :partial => '/character_armors/character_armor_line', :locals => {:character_armor => armor} %>
    <% end %>
  <tr id="character_armors-add">
     <td><%= image_tag("add.png", :alt=>"Add Armor", :class=>"icon add") %></td>
  </tr>
  </tbody>
</table>